username=7971
password=SWS2010
organization=7TZA
domain=DEFAULT
PCC=7TZA

proper_endpoint=https://sws-sts.cert.sabre.com
mock_endpoint=
endpoint=

max_connections=15

proxy_required=false
proxy_username=
proxy_password=